<div class="row">
    <div class="col-md-6">
        <h6>Add new Servers and blueprints</h6>
        <label>Server Name</label>
        <input type="text" class="form-control" [(ngModel)] = "newServerName">
        <label>Server Content</label>
        <input type="text" class="form-control" [(ngModel)] = "newServerContent">
        <br>
        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBluePrint()">Add BluePrint</button>
    </div>
</div>